#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#slot-machine {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 1000px;
    height: 700px;
    justify-content: space-evenly;
}

.slot-machine-reel {
    width: 300px;
    height: 585px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    text-orientation: upright;
    flex-shrink: 0;
}

.slot-machine-window {
    width: 100%;
    height: 1750px;
    background-color: #ddd;
    border:solid 1px black;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
}

.displaySet, .displaySetDuplicate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    width:100%;
    height: 100%;
}

.displaySet > div , .displaySetDuplicate > div {
    height: 300px;
    width:100%;
    border:solid 1px red;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;
}

.spinner {
    transform: translateY(50%);
    transition: transform 2s ease-in-out;
}

.nudgeReelLow {
    transform: translateY(-583.22px);
    transition: transform 2s ease-in-out;
}

.nudgeReelMed {
    transform: translateY(-972.2px);
    transition: transform 2s ease-in-out;
}

.nudgeReelHigh {
    transform: translateY(-1361.08px);
    transition: transform 2s ease-in-out;
}

.resetPosition {
    transform: translateY(0px);
}

.buttonClass {
    font-size:65px;
    font-family: Arial, serif;
    width:170px;
    height:85px;
    border-width:1px;
    color:#fff;
    border-color:#d02718;
    font-weight:bold;
    border-radius: 18px;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    text-shadow: 0px 1px 0px #810e05;
    background:linear-gradient(#c62d1f, #f24437);
}

.buttonClass:hover {
    background: linear-gradient(#f24437, #c62d1f);
}

.buttonClass:active {
    position:relative;
    top:1px;
}

#infoConsole {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1000px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    place-items: center;
    grid-gap: 2px;
    margin: 50px;
}

.infoCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.header {
    background-color: black;
    color: white;
    width: 100%;
}

.infoText{
    margin-top: 15px;
}

#betBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#autoplay {
    font-size: 25px;
}

#cashout {
    font-size: 25px;
}

#buttonRow {
    display: flex;
    width: 600px;
    justify-content: space-around;
}

#increaseBet, #decreaseBet {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background: #007dc1 linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    margin: 4px;
}

#increaseBet:hover, #decreaseBet:hover {
    background: #0061a7 linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
}

#increaseBet:active, #decreaseBet:active {
    position:relative;
    top:1px;
}











