#container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px 40px 15px 40px;
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    zoom: 0.85; /* Old IE only */
}

body {
    background-image: url(/assets/slotmachineframe/reel3.svg);
    background-color: #451502; /* used as backup background in case background-image doesn't load properly */
}

#slot-machine {
    display: flex;
    position: relative;
    right: 48px;
    top: 207px;
    height: 800px;
    width: 800px;
}

.slot-machine-reel {
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    height: 625px;
    justify-items: center;
    overflow: hidden;
    text-orientation: upright;
    width: 300px;
}

.slot-machine-window {
    border:solid 1px black;
    display:flex;
    flex-direction: column;
    height: 1750px;
    justify-content: flex-start;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.displaySet {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: flex-start;
    width:100%;
}

.displaySet > div {
    align-items: center;
    background-image: url(/assets/slotmachineframe/reel1.svg);
    display:flex;
    font-size: 75px;
    height: 200px;
    justify-content: center;
    text-align: center;
    width:100%;
}

.nudgeReelLow {
    transform: translateY(-600px);
    transition: transform 2s ease-in-out;
}

.nudgeReelMed {
    transform: translateY(-1000px);
    transition: transform 2s ease-in-out;
}

.nudgeReelHigh {
    transform: translateY(-1400px);
    transition: transform 2s ease-in-out;
}

.nudgeReelDebug {
    transform: translateY(-1800px);
    transition: transform 2s ease-in-out;
}

#cashoutWindow {
    font-size: 75px;
}

#bet {
    font-size: 50px;
    position: relative;
    right: 120px;
    width: 75px;
}

#autoplay {
    font-size: 25px;
}


#buttonRow {
    display: flex;
    justify-content: space-around;
    width: 600px;
}


#increaseBet:active, #decreaseBet:active, #maxbet:active, #previous:active, #next:active, #autoplay:active, #cashout:active, #music:active, #sound:active, .continueButton:active, #enterBalance:active {
    cursor: pointer;
    position:relative;
    top:1px;
}

 {
    cursor: pointer;
    position:relative;
    top:1px;
}

.display > img {
    height: 175px;
    width: 175px;
}

#pirateframe {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.5));
    transform: scale(1, 1.35);
}



.reelSymbol {
    filter: drop-shadow(5px 7px 4px rgb(0 0 0 / 0.8));
}

.spinning {
    animation: spin 2s ease-in-out forwards;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#bet, #winnings, #balance {
    color: white;
    font-family: 'Julee', cursive;
}

#winnings, #balance {
    font-size: 55px;
}

#decreaseBet, #increaseBet, #maxbet, #autoplay, #cashout, #spinWheel, #music, #sound, #previous, #next, .continueButton, #enterBalance {
    cursor: pointer;
    filter: drop-shadow(5px 7px 3px rgb(0 0 0 / 0.8));
}

.tutorialbalance, .tutorialbet, .tutorialcashout, .tutorialmainui, .tutorialmusic, .tutorialspin, .tutorialwin {
    filter: drop-shadow(5px 7px 3px rgb(0 0 0 / 0.8));
}

#right {
    display: grid;
    grid-template-rows: 325px 95px 95px 95px 95px;
    justify-items: center;
    position: relative;
    right: -5px;
}

#left {
    flex-direction: column;
    flex-grow: 0.5;
    justify-content: center;
}

.betBox, .betButtonsBox, .winBox, .balanceBox {
    align-items: center;
    display: flex;
    justify-items: center;
    height: 100px;
}

.balanceBox {
    padding-top: 10px;
}



.betButtonsBox {
    left: -40px;
    position: relative;
    top: -7px;
}

img#spinWheel {
    align-self: center;
}

#decreaseBet {
    left: -20px;
    position: relative;
}

#winnings {
    position: relative;
    right: 142px;
    width: 75px;
}

#balance  {
    position: relative;
    right: 150px;
    width: 75px;
}

#left {
    align-items: center;
    display: flex;
}
#right {
    right: -30px;
}

.spinBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

#autoplay {
    cursor: pointer;
}



#spinWheel:active {
    cursor: pointer;
    position:relative;
    top:-46px;
}

#spinWheel {;
    position: relative;
    top: -50px;
}

#cashout {
    left: -20px;
    padding-top: 15px;
    position: relative;
    font-size: 25px;
}

#music {
    padding-top: 15px;
}

#bottomframe {
    background-image: url(/assets/slotmachineframe/woodtexture.svg);
    background-repeat: round;
    background-size: cover;
    height: 155px;
    position: relative;
    top: 15px;
    width: 100%;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.5));
}

#jackpotDisplayed, #infoOverlayDisplayed {
    align-content: center;
    align-self: center;
    animation: fadeIn 0.5s ease-in-out forwards;
    color: white;
    display: block;
    font-family: 'Julee', cursive;
    font-size: 50px;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#infoOverlayDisplayed {
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

#infoOverlayDisplayed {
    padding-top: 40px;
}

#jackpotHidden {
    display: none;
}

#containerDark {
    opacity: 0.1;
}

#infoOverlay {
    display: none;
}

#fullscreenFlexContainer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
}

.tutorial {
    border: 8px solid black;
    margin-top: 20px;
}

#previous:hover, #next:hover, #decreaseBet:hover, #increaseBet:hover, #maxbet:hover, #autoplay:hover, #cashout:hover, #spinWheel:hover, #music:hover, #sound:hover, .continueButton:hover, #enterBalance:hover {
    filter: brightness(0.6);
}

.tutorialbalance, .tutorialbet, .tutorialcashout, .tutorialmainui, .tutorialmusic, .tutorialspin, .tutorialwin
{ background: url('/assets/imgs/tutorial/spritesheet.png') no-repeat; display: inline-block; overflow: hidden; text-align: left; text-indent: -9999px; }

.tutorialbalance { background-position: -0px -0px; height: 600px; width: 1058px; }
.tutorialbet { background-position: -1058px -0px; height: 600px; width: 1058px; }
.tutorialcashout { background-position: -0px -600px; height: 600px; width: 1058px; }
.tutorialmainui { background-position: -1058px -600px; height: 600px; width: 1058px; }
.tutorialmusic { background-position: -0px -1200px; height: 600px; width: 1058px; }
.tutorialspin { background-position: -1058px -1200px; height: 600px; width: 1058px; }
.tutorialwin { background-position: -0px -1800px; height: 600px; width: 1058px; }

.tutorialbalance, .tutorialbet, .tutorialcashout, .tutorialmainui, .tutorialmusic, .tutorialspin, .tutorialwin {
    margin-top: 20px;
}

.infoText {
    margin: auto;
    width: 75%;
}

.continueButton, #enterBalance {
    display: block;
    margin: auto;
    padding: 40px;
    height: 75px;
}

#inputBalance {
    height: 50px;
    font-family: 'Julee', cursive;
    font-size: 45px;
    color: black;
    margin-top: 30px;
    border: 10px solid black;

}

#cashoutDisabled {
    filter: brightness(0.3);
    left: -20px;
    padding-top: 15px;
    position: relative;
    font-size: 25px;
}

.disabled {
    opacity: 0.3;
}

.disabled:hover {
    cursor: not-allowed;
}

#totalBet, #win, #balanceWindow {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.5));
}

div#cashoutBox {
    padding-top: 20px;
}
















